In [1]:
import os
os.chdir(r"C:\Users\techin\bank-app-review-analysis")

In [2]:
import pandas as pd
df = pd.read_csv("data/cleaned_reviews.csv")
df.head()

,review,rating,date,bank,source
0,good,5,2025-06-03,CBE,Google Play
1,it is not safety,1,2025-06-03,CBE,Google Play
2,NICE bank,5,2025-06-03,CBE,Google Play
3,abdii.abas ab.musa,3,2025-06-02,CBE,Google Play
4,it is like a childish app make it better the w...,1,2025-06-02,CBE,Google Play

In [3]:
df.shape

(6808, 5)

In [5]:
df['review'].head(200)

0                                                   good
1                                       it is not safety
2                                              NICE bank
3                                     abdii.abas ab.musa
4      it is like a childish app make it better the w...
                             ...
195                                    it's special apps
196    In the updated version of the app, it takes mo...
197                       ·àà·àù·äï·ãµ·äê·ãç ·âµ·à´·äï·ãõ·ä≠·àΩ·äï ·âµ·äï·àΩ ·â•·âª ·ã®·àö·ã´·à≥·ã®·ãç ?
198                                               Good üî•
199    very interesting app i am using every day fant...
Name: review, Length: 200, dtype: object